@* @model OJT_Train.Core.Areas.User.Models.Account *@
@{
    var userid = Context.Session.GetInt32("UserID");
    var username = Context.Session.GetString("UserName");
}
<div class="set-bg" data-setbg="">
    <div class="row mx-0">
        <div class="col-sm-8" style="width: 90%; margin: auto; border: 1px solid black; margin-top: 50px; margin-bottom: 50px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); border-radius: 5px;">
            <div class="no-title" style="height: 20px;"></div>
            <form asp-controller="User" asp-action="UpdatePassword" method="post" class="form-horizontal">
                <div class="panel-body">
                    <h2 class="mgbt-xs-20" style="color: black; text-align: center; font-family: 'Dancing Script', cursive;">Profile User: <span class="font-semibold">@username</span></h2>
                    <br />
                    <span class="text-danger">@ViewBag.success</span>
                    <div class="row">
                        <!-- Profile left Begin -->
                        <div class="col-sm-3 mgbt-xs-20">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-img text-center mgbt-xs-15">                                     
                                            <img alt="example image" src="@Url.Content("~/Images/Avartardefault/avtnull.png")" style="width: 100%; overflow: hidden; border-radius: 10px; height: 400px;">                                       
                                    </div>
                                    <br />
                                    <div>
                                        <a asp-action="DisplayPurchasedHistory" asp-controller="User" asp-route-userid="@userid" class="btn btn-info" style="width: 100%; margin-bottom: 10px; color: white" id="btnMemberCard">
                                            Purchased History
                                        </a>
                                    </div>
                                    <div>
                                        <a asp-action="UserProfile" asp-controller="User" asp-route-id="@userid" class="btn btn-info" style="width: 100%; margin-bottom: 10px; color: white" id="btnMemberCard">
                                            Profile Setting
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Profile left End -->

                        <div class="col-sm-9">
                            <div style="margin-bottom: 25px;">
                                <h3 class="mgbt-xs-15">Account Setting</h3>
                                <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                    <div class="col-sm-3" style="text-align: right;">
                                        <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">Old Password</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="password" style="width: 100%; height: 35px;" placeholder="Your old password" name="txtoldpassword" required />
                                        <span class="text-danger">@ViewBag.check</span>
                                    </div>
                                </div>
                                
                                <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                    <div class="col-sm-3" style="text-align: right;">
                                        <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">Re-NewPassword</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input class="form-control" type="password" style="width: 100%; height: 35px;" placeholder="Your new password" name="txtpassword" required />
                                    </div>
                                </div>
                                
                                <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                    <div class="col-sm-3" style="text-align: right;">
                                        <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">Confirm Password</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input name="txtrepassword" type="password" placeholder="Your confirm renew password" style="width: 100%; height: 35px; color: black;" value="" class="form-control" required>
                                        <span class="text-danger">@ViewBag.Checkpassword</span>
                                    </div>
                                </div>
                                <div style="margin-top: 15px; width: 100%;">
                                    <p style="color: red; text-align: center;">@ViewBag.Message</p>
                                </div>
                                <div class="form-group row" style="margin-top: 15px; height: 40px; ">
                                    <input type="submit" value="Save" style="margin: auto; " class="btn btn-info">
                                </div>
                            </div>
                            <!-- Profile setting End -->
                        </div>
                    </div>
                </div>
                <!-- Profile End -->
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}