@model IEnumerable<AccountManageDTO>

<h2 class="text-center font-weight-bold">Quản lý thông tin khách hàng</h2>
<div class="form-inline my-2 my-lg-0 ml-4" id="searchForm">
    <input class="form-control mr-sm-2" type="search" id="searchInput" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" onclick="submitForm()">Search</button>
</div>
<div class="my-4 p-3">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th class="col-3">Tên khách hàng</th>
                <th class="col-3">Email</th>
                <th class="col-2">Số điện thoại</th>
                <th class="col-3">Địa chỉ</th>
                <th class="col-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="text-center">
                    <td>@user.FullName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Address</td>
                    <td>
                        <button class="btn btn-outline-info" onclick="UserDetail(@user.UserId)">Chi tiết</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<nav aria-label="Page navigation example" class="mx-2 ml-4">
    <ul class="pagination">
        @if (ViewBag.CurrentPage == 1)
        {
            <li class="page-item disabled"><a class="page-link">Previous</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-area="Admin" asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">Previous</a></li>
        }
        @for (int i = 1; i <= ViewBag.TotalUsers; i++)
        {
            <li class="page-item"><a class="page-link" asp-area="Admin" asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@i">@i</a></li>
        }
        @if (ViewBag.CurrentPage == ViewBag.TotalUsers)
        {
            <li class="page-item disabled"><a class="page-link">Next</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-area="Admin" asp-controller="Customer" asp-action="Index" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">Next</a></li>
        }
    </ul>
</nav>
@section Scripts {
    <script>
        function submitForm() {
            var searchBy = document.getElementById("searchInput").value;
            $.ajax({
                url: "https://localhost:7258/admin/Customer/Index/",
                contentType: 'application/json',
                data: { searchBy: searchBy }
            })
        }
    </script>
}