@model IEnumerable<InventoryDTO>
@{
    var userId = Context.Session.GetInt32("UserID");
    var roleName = Context.Session.GetString("RoleName");
}
<div class="row" style="margin-left:200px;margin-top:50px;">
    <div class="col-sm-4 col-6">
        <div class="description-block border-right">
            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
            <h5 class="description-header">@string.Format("{0:#,##0}", ViewBag.ThongKe.Revenue) VND</h5>
            <span class="description-text">TOTAL REVENUE</span>
        </div>
    </div>
    <div class="col-sm-4 col-6">
        <div class="description-block border-right">
            <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
            <h5 class="description-header">@string.Format("{0:#,##0}", ViewBag.ThongKe.Cost) VND</h5>
            <span class="description-text">TOTAL COST</span>
        </div>
    </div>
    <div class="col-sm-4 col-6">
        <div class="description-block border-right">
            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
            <h5 class="description-header">@string.Format("{0:#,##0}", ViewBag.ThongKe.Profit) VND</h5>
            <span class="description-text">TOTAL PROFIT</span>
        </div>
    </div>
</div>
<div class="d-flex" style="margin-left:80px; margin-top:30px">
    <div id="pieChart"></div>
    <div id="pieChart2"></div>
    <div id="pieChart3"></div>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Tổng</th>
            <th scope="col">Đã bán</th>
            <th scope="col">Còn lại</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>@item.ProductName</th>
                <td>@item.TotalImport</td>
                <td>@item.Delivered</td>
                <td>@item.Remaining</td>
            </tr>
        }
        

    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            var modelData = @Html.Raw(Json.Serialize(Model));
            console.log(@userId);
            //console.log(@roleName);
            // Cấu hình biểu đồ
            $("#pieChart").kendoChart({
                title: {
                    text: "Total Product"
                },
                legend: {
                    position: "bottom"
                },
                chartArea: {
                    width:500,
                    height:500
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "totalImport",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    template: "#= value #"
                }
            });
            $("#pieChart2").kendoChart({
                title: {
                    text: "Delivered Product"
                },
                legend: {
                    position: "bottom"
                }, 
                chartArea: {
                    width: 500,
                    height: 500
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "delivered",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    template: "#= value #"
                }
            });
            $("#pieChart3").kendoChart({
                title: {
                    text: "Remaining Product"
                },
                legend: {
                    position: "bottom"
                }, 
                chartArea: {
                    width: 500,
                    height: 500
                },
                series: [{
                    type: "pie",
                    data: modelData,
                    field: "remaining",
                    categoryField: "productName"
                }],
                tooltip: {
                    visible: true,
                    template: "#= value #"
                }
            });
        });
    </script>

}
   