@using OJT_Train.Core.Areas.User.Models;
@model ProductViewModel;

@{
	var userid = Context.Session.GetInt32("UserID");
}

<div class="section">
	<div class="container">	
		<div class="row">			
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/userStyle/img/shop01.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Iphone<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>		
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/userStyle/img/shop03.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Ipad<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-xs-6">
				<div class="shop">
					<div class="shop-img">
						<img src="~/userStyle/img/shop02.jpg" alt="">
					</div>
					<div class="shop-body">
						<h3>Iphone<br>Collection</h3>
						<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

</div>

<div class="section">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Products</h3>				
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								@foreach (var item in Model.List1)
								{
									<div class="product">
										<div class="product-img">
											<img src="@item.ImageProduct" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
											<h4 class="product-price">@String.Format("{0:N0} ₫", @item.PriceNew) <del class="product-old-price">@String.Format("{0:N0} ₫", item.PriceOld)</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<div class="product-btns">
													<a asp-action="ViewProductDetail" asp-controller="Product" asp-route-id="@item.ProductId"><span class="tooltipp">Detail Product</span></a>
												</div>
											</div>
										</div>
										<div class="add-to-cart">
											@if (userid == null)
											{
												<a class="add-to-cart-btn login" asp-action="Login" asp-controller="Home"><i class="fa fa-shopping-cart"></i> add to cart</a>
											}
											else
											{
												<button class="add-to-cart-btn addToCart" data-product-id="@item.ProductId"><i class="fa fa-shopping-cart"></i> add to cart</button>
											}
										</div>
									</div>
								}
								
							
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="hot-deal" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="hot-deal">
					<ul class="hot-deal-countdown">
						<li>
							<div>
								<h3>02</h3>
								<span>Days</span>
							</div>
						</li>
						<li>
							<div>
								<h3>10</h3>
								<span>Hours</span>
							</div>
						</li>
						<li>
							<div>
								<h3>34</h3>
								<span>Mins</span>
							</div>
						</li>
						<li>
							<div>
								<h3>60</h3>
								<span>Secs</span>
							</div>
						</li>
					</ul>
					<h2 class="text-uppercase">hot deal this week</h2>
					<p>New Collection Up to 50% OFF</p>
					<a class="primary-btn cta-btn" href="#">Shop now</a>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>

</div>
<div class="section">
	<!-- container -->
	<div class="container">

		<div class="row">

			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top selling</h3>
					
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane fade in active">
							<div class="products-slick" data-nav="#slick-nav-2">
								@foreach (var item in Model.List2)
								{
									<div class="product">
										<div class="product-img">
											<img src="@item.ImageProduct" alt="">
											<div class="product-label">
												<span class="sale">-30%</span>
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">@item.ProductName</a></h3>
											<h4 class="product-price">@String.Format("{0:N0} ₫", @item.PriceNew) <del class="product-old-price">@String.Format("{0:N0} ₫", @item.PriceOld)</del></h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<div class="product-btns">
													<a asp-action="ViewProductDetail" asp-controller="Product" asp-route-id="@item.ProductId"><span class="tooltipp">Detail Product</span></a>
												</div>
											</div>
										</div>
										<div class="add-to-cart">
											@if (userid == null)
											{
												<a class="add-to-cart-btn login" asp-action="Login" asp-controller="Home"><i class="fa fa-shopping-cart"></i> add to cart</a>
											}
											else
											{
												<button class="add-to-cart-btn addToCart" data-product-id="@item.ProductId"><i class="fa fa-shopping-cart"></i> add to cart</button>
											}
										</div>
									</div>
								}						
							</div>
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
					
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>

<div id="newsletter" class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<div class="newsletter">
					<p>Sign Up for the <strong>NEWSLETTER</strong></p>
					<form>
						<input class="input" type="email" placeholder="Enter Your Email">
						<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
					</form>
					<ul class="newsletter-follow">
						<li>
							<a href="#"><i class="fa fa-facebook"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-twitter"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-instagram"></i></a>
						</li>
						<li>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".addToCart").click(function (e) {
			e.preventDefault();
			var productId = $(this).data("product-id");
			$.ajax({
				url: '/User/Cart/AddToCart',
				type: "POST",
				data: {
					productID: productId,
				},
				success: function (result) {
				},
				error: function (result) {
					alert('error');
				}
			});
		});
	});
</script>
