@using OJT_Train.Core.Areas.User.Models
@model X.PagedList.IPagedList<Product>;
@using X.PagedList.Mvc.Core;
@{
    var listCategory = ViewBag.listCate as List<Category>;
    var userid = Context.Session.GetInt32("UserID");
}
<div class="section">
    <div class="container">
        <div class="row">
            <div id="aside" class="col-md-3">
                <div class="aside">
                    <h3 class="aside-title">Categories</h3>
                    <div class="checkbox-filter">
                        @foreach (var category in listCategory)
                        {
                            <div class="input-checkbox">
                                <label for="category-1">
                                    <span></span>
                                    <a asp-controller="Product" asp-action="ViewProductByCategory" asp-route-id="@category.CategoryId">@category.CategoryName</a>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="store" class="col-md-9">
                <div class="row productContainer">
                    @foreach (var product in Model)
                    {
                        <div class="col-md-4 col-xs-6">
                            <div class="product">
                                <div class="product-img">
                                    <img src=@product.ImageProduct alt="">
                                </div>
                                <div class="product-body">
                                    @*   <p class="product-category">@product.CategoryId</p> *@
                                    <h3 class="product-name"><a href="#">@product.ProductName</a></h3>
                                    <p class="product-name"><a href="#">@product.Memory</a></p>
                                    <h4 class="product-price">@String.Format("{0:N0} ₫", @product.PriceNew)<del class="product-old-price">@String.Format("{0:N0} ₫", @product.PriceOld)</del></h4>
                                    <div class="product-btns">
                                        <a asp-action="ViewProductDetail" asp-controller="Product" asp-route-id="@product.ProductId"><span class="tooltipp">Detail Product</span></a>
                                    </div>
                                   
                                </div>
                                <div class="add-to-cart">
                                    @if (userid == null)
                                    {
                                        <a class="add-to-cart-btn login" asp-action="Login" asp-controller="Home"><i class="fa fa-shopping-cart"></i> add to cart</a>
                                    }
                                    else
                                    {
                                        <button class="add-to-cart-btn addToCart" data-product-id="@product.ProductId"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="store-filter clearfix" style="margin-top:50px">
                    @Html.PagedListPager(Model, page => Url.Action("ViewProductByCategory",
                             new { page }))
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<script type="text/javascript">
    $(document).ready(function () {
        $(".addToCart").click(function (e) {
            e.preventDefault();
            var productId = $(this).data("product-id");
            $.ajax({
                url: '/User/Cart/AddToCart',
                type: "POST",
                data: {
                    productID: productId,
                },
                success: function (result) {
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
    });
</script>
